{% extends "radiologist/radiologist_base.html" %}
{%block content%}
<style>
  .card-title {
    font-size: 1.5rem;
    font-weight: bold;
  }
  .card-icon {
    width: 50px;
    height: 50px;
    fill: white;
  }
  .card:hover .card-icon {
    animation: spin 1s;
  }
</style>
<div class="row">
  
  
    <div class="col-md-4">
      <a href="{%url 'radiologistorder'%}" style="text-decoration: none;">
      <div class="card text-white bg-danger mb-3">
        <div class="card-body"style="display: flex;">
          <h4 style="align-self: center; margin-left: 0.7rem;"> Radiology Orders &nbsp; {{radiologyorders}}</h4>
        </div>
      </div>
    </a>
    </div>
    
    
  </div>

  <a href="https://youtu.be/kLglEG5DjxI" class="btn btn-info btn-sm"  target="_blank">Guide</a>
  <br>
  <h2> Announcements </h2>
  <br>

  {% for announcement in announcements %}
  <div class="card">
      <div style="display: flex; justify-content: space-between;" class="card-header">
        <div>  
        Admin: {{announcement.administrator.first_name}} {{announcement.administrator.last_name}}
        </div>
        <div style="display: flex;">  
        posted on: {{announcement.created}}
        {% if announcement.administrator == request.user.adminprofile %}
        <form method="POST">
          {% csrf_token %}
          <button type="submit" class="btn btn-danger btn-sm" name= 'delete' value="{{announcement.id}}">Delete</button>
        </form>
        {% endif %}
        </div>
      </div>
      <div class="card-body">
        <h5 class="card-title">{{announcement.title}}</h5>
        <p class="card-text">{{announcement.description}}</p>
      </div>
  </div>
  <br>
  {% endfor %}

  <a href="{% url 'radiologistannouncements'%}"><button class="btn btn-success">See All Announcements</button></a>

</div>
{% endblock %}