{% extends "radiologist/radiologist_base.html" %}
{%block content%}
<h1>Search Patient</h1>
<form action="{% url 'searchpatients' %}">
<div class="input-group mb-3">
    <input type="text" name='search' class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="submit" >Search</button>
    </div>
  </div>
</form>
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Patient Name</th>
        <th scope="col">Age</th>
        <th scope="col">Phone</th>
        <th scope="col">E-mail</th>
      </tr>
    </thead>
    <tbody>
        {% for patient in patients %}
      <tr>
        <th scope="row">{{patient.id}}</th>
        <td><a href="{% url 'radiologistpatientprofile' patient.id%}"> {{patient.first_name}} {{patient.middle_name}} {{patient.last_name}}</a></td>
        <td>{{patient.get_age}}</td>
        <td>{{patient.phone}}</td>
        <td>{{patient.email}}</td>
      </tr>
        {% endfor %}
    </tbody>
  </table>
{% endblock%}