{% extends "labtechnician/lab_base.html" %}
{%block content%}
<h2>Announcements</h2>

<hr>

{% for announcement in announcements %}
<div class="card">
    <div style="display: flex; justify-content: space-between;" class="card-header">
      <div>  
      Admin: {{announcement.administrator.first_name}} {{announcement.administrator.last_name}}
      </div>
      <div style="display: flex;">  
      posted on: {{announcement.created}}
      {% if announcement.administrator == request.user.adminprofile %}
      <form method="POST">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger btn-sm" name= 'delete' value="{{announcement.id}}">Delete</button>
      </form>
      {% endif %}
      </div>
    </div>
    <div class="card-body">
      <h5 class="card-title">{{announcement.title}}</h5>
      <p class="card-text">{{announcement.description}}</p>
    </div>
</div>
<br>
{% endfor %}


{% endblock %}