<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous"/>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/reception_home.css' %}">
    {% block scripts%}
    {% endblock %}

</head>
</head>
<body>
<div class="vertical-nav bg-white" id="sidebar">
  <div class="py-4 px-3 mb-4 bg-light">
    <div class="media d-flex align-items-center">
      {% if request.user.receptionprofile.profile_picture.url != None%}
            <img src="{{ request.user.receptionprofile.profile_picture.url }}" alt="..." style="height: 90px; object-fit: cover;" width="90" class="mr-3 rounded-circle img-thumbnail shadow-sm"> 
      {% else %}
            <img src="https://bootstrapious.com/i/snippets/sn-v-nav/avatar.png" alt="..." width="65" class="mr-3 rounded-circle img-thumbnail shadow-sm">
      {% endif %}
      <div class="media-body">
        <h4 class="m-0">{{request.user.receptionprofile.first_name}} {{request.user.receptionprofile.last_name}}</h4>
        <p class="font-weight-light text-muted mb-0">Reception</p>
      </div>
    </div>
  </div>

  <p class="text-gray font-weight-bold text-uppercase px-3 small pb-4 mb-0">Main</p>

  <ul class="nav flex-column bg-white mb-0">
    <li class="nav-item">
      <a href="{% url 'receptionhome'%}" class="nav-link text-dark font-italic">
                <i class="fa fa-th-large mr-3 text-primary fa-fw"></i>
                Dashboard
            </a>
    </li>
    <li class="nav-item">
      <a href="{% url 'searchpatients'%}" class="nav-link text-dark font-italic">
                <i class="fa fa-search mr-3 text-primary fa-fw"></i>
                Search Patients
            </a>
    <li class="nav-item">
      <a href="{% url 'registerpatient'%}" class="nav-link text-dark font-italic">
                <i class="fa fa-address-card mr-3 text-primary fa-fw"></i>
                Register Patients
            </a>
    </li>
    <li class="nav-item">
      <a href="{% url 'bookappointment'%}" class="nav-link text-dark font-italic">
                <i class="fa fa-cubes mr-3 text-primary fa-fw"></i>
                Book Appointment
            </a>
    </li>
    <li class="nav-item">
      <a href="{% url 'appointments'%}" class="nav-link text-dark font-italic">
                <i class="fa fa-picture-o mr-3 text-primary fa-fw"></i>
                Appointments
            </a>
    </li>
    <li class="nav-item">
      <a href="{% url 'logout'%}" class="nav-link text-dark font-italic bg-light">
                <i class="fa fa-sign-out mr-3  fa-fw" style="color:red"></i>
                Log out
            </a>
    </li>
  </ul>
</div>
<!-- End vertical navbar -->


<!-- Page content holder -->
<div class="page-content p-5" id="content">
{%block content%}

{% endblock %}
</div>
<!-- End demo content -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
</body>
</html>