<div class="modal fade" id="orderlabModal" tabindex="-1" aria-labelledby="orderlabLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Order Lab</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          {% load crispy_forms_tags %}
          <form method="POST" action="{% url 'orderlab' patient.id%}">
            {% csrf_token %}
            {{orderlabform|crispy}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <input type="hidden" name="next" value="{{ request.path }}">
          <button type="submit" class="btn btn-success">Order</button>
        </div>
      </form>
      </div>
    </div>
  </div>